<?xml version="1.0"?>
<robot name="sphere">
  <link name="sphere">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
      <material name="cyan">
        <color rgba="0 1 1 1"/>
      </material>
    </visual>
    <collision>
    <origin xyz="0 0 0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10" />
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
    </inertial>
  </link>
</robot>
